* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: default; */
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 12px;
  /* height: 53px; */
}
.hide {
  display: none !important;
}
.programs button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
  width: 200px;
  padding: 8px;
  color: rgb(88, 87, 87);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.171);
  box-shadow: rgba(43, 48, 59, 0.12) 0px 1px 4px 0px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  list-style: none;
}
.course-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2px;
  position: absolute;
  padding: 5px;
  width: 400px;
  height: 400px;
  top: 45px;
  left: 6px;
  z-index: 1000;
  background-color: white;
  border: 1px solid rgb(232, 234, 238);
  box-shadow: rgba(43, 48, 59, 0.08) 0px 8px 12px 0px,
    rgba(43, 48, 59, 0.12) 0px 2px 8px 0px;
  border-radius: 10px;
}
.course-container div {
  padding: 15px;
}
.course-container > div {
  cursor: default;
}
.course-item:hover {
  cursor: pointer;
  .c-i-h {
    color: rgb(0, 102, 255);
  }
  border-radius: 8px;
  background-color: rgb(230, 240, 255);
}
.course-container div h4 {
  color: rgb(46, 45, 45);
  font-size: 15px;
  font-weight: lighter;
  padding-bottom: 8px;
}
.course-container div p {
  color: rgb(143, 140, 140);
  font-size: 13px;
}
.top-list {
  border-left: 1px solid rgb(232, 234, 238);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  letter-spacing: 1px;
}
.top-list-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.top-list-item:first-child {
  display: flex;
  font-size: 13px;
  align-items: center;
  gap: 4px;
  padding: 12px 14px;
}
.top-list-item:nth-child(2) {
  padding: 10px 14px;
}
.top-list-item .menu-svg {
  color: black;
}
.top-list-item:nth-child(3) {
  height: 100%;
  padding: 22px 14px;
}
.top-list-item:last-child {
  padding: 6px 2px;
}
.top-list-item:hover {
  background-color: rgb(240, 242, 244);
}
#my-photo {
  width: 33px;
  height: 33px;
  border-radius: 25px;
}
.main-section {
  position: fixed;
  top: 54px;
}
main {
  overflow: hidden;
  display: flex;
  justify-content: start;
  max-height: calc(100vh - 54px);
  border-top: 1px solid rgb(232, 234, 238);
}
.sidebar {
  position: relative;
  border-right: 1px solid rgb(232, 234, 238);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}
.course-heading {
  border-bottom: 1px solid rgb(232, 234, 238);
  padding: 24px;
}
#div-course-heading {
  font-size: 14px;
  line-height: 20px;
  color: rgb(95, 93, 93);
}
#enrolled {
  display: inline-block;
  background-color: rgb(40, 189, 140);
  border-radius: 4px;
  color: white;
  padding: 2px 3px;
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
}
.menu {
  max-height: calc(100vh - 219px);
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 16px;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  color: rgb(87, 97, 117);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: lighter;
  line-height: 20px;
  width: 192px;
  max-width: 192px;
  padding: 12px 26px;
  cursor: pointer;
}
.menu-svg {
  color: #7b869d;
}
.rev-svg {
  width: 20px;
  height: 20px;
}
.menu-item:hover {
  .menu-svg {
    color: rgb(0, 102, 255);
  }
  border-radius: 8px;
  color: rgb(0, 102, 255);
  background-color: rgb(230, 240, 255);
}
.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(87, 97, 117);
  font-size: 16px;
  letter-spacing: 0.7px;
  font-weight: bold;
  background-color: white;
  border-top: 1px solid rgb(232, 234, 238);
  border-right: 1px solid rgb(232, 234, 238);
  position: fixed;
  bottom: 0;
  width: 240px;
  padding: 15px;
  cursor: pointer;
}
.main {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}
.center-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 328px);
  flex-grow: 1;
  overflow: auto;
}
.center-container > div {
  padding: 48px;
  border-bottom: 1px solid rgb(232, 234, 238);
}
.center-container::-webkit-scrollbar {
  display: none;
}
.centerStreak {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centerStreak > p {
  font-size: 18px !important;
  font-weight: bold;
}
.main-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(232, 234, 238);
}
.container-title {
  margin-bottom: 30px;
}
.container-title h3 {
  padding-bottom: 10px;
  font-size: 18px;
  color: rgb(71, 71, 71);
}
.container-title p {
  font-size: 13px;
  color: rgb(114, 114, 114);
}
.bar-item {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  color: rgb(134, 132, 132);
  padding: 15px 20px;
  padding-right: 25px;
}
.bar-item:hover {
  color: rgb(58, 57, 57);
}
.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(232, 234, 238);
  cursor: pointer;
}
.task-item-left {
  padding: 20px;
  padding-top: 25px;
}
.task-item-right {
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  padding-right: 20px;
}
.task-item-right > .arrow {
  color: rgb(114, 113, 113);
  padding: 10px 8px;
  width: 26px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.task-item-right p {
  color: rgb(33, 156, 115);
  background-color: rgb(234, 251, 245);
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 15px;
  border: 1px solid rgb(162, 235, 211);
  border-radius: 8px;
}
.task-item-right p i {
  color: white;
  background-color: rgb(33, 156, 115);
  transform: scale(0.7);
  padding: 5px;
  padding-top: 6px;
  border-radius: 50%;
}
.task-item:hover {
  .arrow {
    color: rgb(0, 102, 255);
    background-color: rgb(230, 240, 255);
  }
  /* background-color: rgba(175, 175, 177, 0.082); */
  background-color: rgba(175, 175, 177, 0.144);
}
.task-type {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 16px;
  padding-bottom: 10px;
}
.task-general {
  color: rgb(87, 97, 117);
}
.task-contest {
  color: rgb(242, 166, 13);
}
.task-name {
  color: rgb(43, 48, 59);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  padding-bottom: 18px;
}
.task-deadline {
  color: rgb(123, 134, 157);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.6px;
}
.p-title {
  margin-bottom: 24px;
}
.c-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}
.c-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  gap: 16px;
  width: calc(50% - 12px);
  border: 1px solid rgb(232, 234, 238);
  border-radius: 8px;
  cursor: pointer;
}
.c-item > .arrow {
  width: 10px;
  color: #3d3e3f;
}
.p-item > .svg {
  border: 1px solid rgba(119, 118, 118, 0.199);
  border-radius: 8px;
  background-color: white;
  color: #7b869d;
  padding: 8px;
  display: flex;
  align-items: center;
}
.p-item:hover {
  .svg-p1 {
    color: #20c997;
    border-color: #20c997;
    background-color: #20c99618;
  }
  .svg-p2 {
    color: #fd7e14;
    border-color: #fd7e14;
    background-color: #fd7d142c;
  }
  .svg-p3 {
    color: #ffc107;
    border-color: #ffc107;
    background-color: #ffc10723;
  }
  .svg-p4 {
    color: #6610f2;
    border-color: #6610f2;
    background-color: #6710f21a;
  }
}
.c-item-detail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.detail-name {
  font-size: 15px;
  color: rgb(75, 72, 72);
}
.score {
  font-size: 13px;
  color: rgb(114, 114, 114);
}
.score h3 {
  display: inline-block;
  font-size: 18px;
  color: rgb(71, 71, 71);
}
.s-item {
  max-height: 78px;
}
.s-item-name {
  font-weight: bold;
  letter-spacing: 0.4px;
  color: rgb(75, 74, 74);
}
.s-item-score {
  color: #676869;
}
.arrow {
  width: 10px;
}
.s-item > .svg {
  color: #a4acbc;
}
.s-item:hover {
  .svg-s1 {
    color: #28a745;
  }
  .svg-s2 {
    color: #343a40;
  }
  .svg-s3 {
    color: #007bff;
  }
}
#lectures {
  border-top: 1px solid rgba(0, 0, 0, 0.171);
}
.lecture-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  cursor: default;
}
.lecture-item:hover {
  background-color: rgba(119, 118, 118, 0.199);
  .lecture-name {
    color: #0466cf;
  }
}
.lecture-name {
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #393b3d;
}
.lectureBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid grey;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  background-color: rgba(10, 10, 10, 0.26);
  cursor: pointer;
}
.lectureBtn:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}
.notWatchBtn {
  background-color: black;
  border: 1px solid black;
  color: white;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom-left {
  max-width: 200px;
}
.bottom-left-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(63, 63, 63);
}
.bottom-left-heading img {
  width: 25px;
}
.bottom-left-heading span {
  font-weight: bold;
}
.bottom-left-heading:hover {
  color: #0466cf;
  text-decoration: underline;
}
.bottom-left > p {
  font-size: 13px;
  color: #676869de;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.bottom-right {
  text-align: right;
}
.terms-conditions {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 28px;
  font-size: 15px;
  color: #393b3d;
  cursor: pointer;
}
.socials {
  display: flex;
  gap: 30px;
}
.socials img {
  cursor: pointer;
}

/* Right Container */
.right-container {
  width: 328px;
  max-width: 328px;
  border-left: 1px solid rgba(119, 118, 118, 0.199);
  overflow-y: auto;
}
.right-container::-webkit-scrollbar {
  display: none;
}
.streak {
  padding: 20px 0;
  height: 150px;
  border-bottom: 1px solid rgba(119, 118, 118, 0.199);
}
.streak > p {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
  gap: 3px;
}
.streak p {
  padding: 0 20px;
}
.total-streak {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.total-streak span {
  font-size: 32px;
  font-weight: bold;
}
#info {
  width: 14px;
  height: 14px;
}
.calendar {
  padding: 25px 20px;
}
.calendar-heading {
  border-bottom: 1px solid rgba(119, 118, 118, 0.199);
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.cl-left h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: rgb(43, 48, 59);
}
.cl-left p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: rgb(123, 134, 157);
}
.cl-right {
  color: rgb(124, 123, 123);
  background-color: #ebecec;
  font-weight: bold;
  border-radius: 8px;
  font-size: 16px;
  padding: 4px;
  height: 34px;
  cursor: pointer;
}
.cl-right-svg {
  position: relative;
  top: 2px;
}
.events {
  padding: 15px;
}
.events h5 {
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(
    117.03deg,
    rgb(255, 165, 30) 3.13%,
    rgb(250, 90, 146) 100%
  );
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;
}
.day {
  border-bottom: 1px solid rgba(119, 118, 118, 0.199);
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 10px;
}
.day:nth-child(2) .dayEvent:first-child {
  border-bottom: 1px solid rgba(119, 118, 118, 0.199);
}
.date {
  text-transform: uppercase;
  padding: 10px 5px;
  width: 40px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: #343a40;
  cursor: pointer;
}
.date:hover {
  border-radius: 8px;
  color: rgb(0, 102, 255);
  background-color: rgb(230, 240, 255);
}
.date span {
  display: block;
}
.date span:first-child {
  font-size: 16px;
}
.date span:last-child {
  font-size: 13px;
}
.dayEvents {
  flex-grow: 1;
}
.dayEvent {
  padding: 10px;
}
.dayEvent p {
  padding-bottom: 6px;
}
.batchName,
.timing {
  font-size: 12px;
  color: rgb(114, 114, 114);
}
.eventType {
  font-size: 14px;
  font-weight: 550;
  color: rgb(77, 77, 77);
  letter-spacing: 0.5px;
}
footer {
  display: none;
  margin-top: 100vh;
  position: relative;
  bottom: 0;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
}
@media (max-width: 440px) {
  .center-container > div {
    padding: 24px;
  }
  .task-item {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .task-item-right {
    flex-direction: row-reverse;
    gap: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .c-section {
    flex-direction: column;
  }
  .c-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .course-container {
    max-width: 374px;
  }
  .top-list-item:first-child {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .bar {
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .bar-item {
    padding: 10px;
  }
  .bottom {
    flex-direction: column;
    gap: 16px;
  }
  .bottom-left {
    max-width: 100%;
  }
  .bottom-left-heading {
    padding-bottom: 8px;
  }
  .terms-conditions {
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
  }
  .socials {
    justify-content: start;
    gap: 10px;
  }
}
@media (max-width: 1100px) {
  .right-container {
    display: none;
  }
  .center-container {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  .centerStreak {
    display: none;
  }
}
